* {
	margin: 0;
	padding: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}
*:focus-visible {
	outline: none;
}
*:visited {
	text-decoration: none;
	color: inherit;
}

html {
	font-size: 16px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

// ul, ol {
//   list-style: none;
// }

a {
	text-decoration: none;
	color: inherit;
}

img,
video,
iframe {
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

::selection {
	background-color: #b3d4fc;
	text-shadow: none;
}

button {
	border: unset;
	span {
		outline: none !important;
	}
}
