@tailwind base;
@tailwind components;
@tailwind utilities;

// daisyUI 的 rate 組件與 tailwind CSS 的樣式衝突，所以要加上以下 CSS
div .pc-rating input:checked ~ input,
div .pc-rating input[aria-checked="true"] ~ input {
	--tw-bg-opacity: 0.2 !important;
}

.ajax_add_to_cart.loading {
	svg {
		// AJAX 加入購物車時，loading 時原本圖示不顯示
		display: none !important;
	}

	&:hover {
		// hover 時 loading 顯示為白色
		&:after {
			color: #fff;
		}
	}
}

// 不知道為什麼背景有填色
.pc-btn-outline {
	background-color: transparent;
}

// My Account 頁面的課程卡片樣式
.pc-course-card {
	&__image-wrap {
		@apply w-full aspect-video rounded-md overflow-hidden mb-3 relative;

		&::before {
			content: "進入上課教室";
			@apply opacity-0 hover:opacity-100 absolute inset-0 bg-black/30 flex items-center justify-center text-white font-bold text-base z-50 tracking-wide cursor-pointer transition duration-300 ease-in-out;
		}

		&::after {
			content: url("../svg/play.svg");
			@apply opacity-100 hover:opacity-0 absolute inset-0 flex items-center justify-center text-white text-base z-50 tracking-wide cursor-pointer transition duration-300 ease-in-out;
		}
	}

	&__image {
		height: 100% !important;
		width: 100% !important;
		object-fit: cover !important;
	}

	&__name {
		margin: 0rem 0rem 0.5rem 0rem !important;
		height: 3rem !important;
		font-weight: 600 !important;
		font-size: 1.125rem !important;
		line-height: 1.5rem !important;
		@apply line-clamp-2;
	}

	&__teachers {
		margin: 0rem 0rem 0rem 0rem !important;
		font-weight: 300 !important;
		font-size: 0.75rem !important;
	}
}

// My Account 我的學習 icon

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--courses {
	a {
		&::before {
			content: "";
			aspect-ratio: 0.7576;
			background: url("../svg/learn.svg") no-repeat center center;
			background-size: contain;
		}
	}

	&.is-active {
		a {
			&::before {
				background: url("../svg/learn-white.svg") no-repeat center center;
			}
		}
	}

	&:hover {
		&::before {
			background: url("../svg/learn-white.svg") no-repeat center center;
		}
	}
}
