@tailwind base;
@tailwind components;
@tailwind utilities;

$primary: #227093;
$secondary: #ff5252;
$background: #eee;
$highlight: #ffda79;

:root {
	--primary: #{$primary};
	--secondary: #{$secondary};
	--background: #{$background};
	--highlight: #{$highlight};
	/* Theme color */
	--theme: var(--primary);
}

.pc-accordion {
	.tab {
		input {
			position: absolute;
			opacity: 0;
			z-index: -1;

			&:checked ~ .tab__content {
				max-height: 10rem;
			}

			&:checked ~ .tab__label::before {
				transform: rotate(270deg);
			}

			/* Arrow animation */
			&:not(:checked) + .tab__label:hover::before {
				animation: bounce 0.5s infinite;
			}
		}

		&__content {
			max-height: 0;
			overflow: hidden;
			transition: all 0.35s;

			p {
				margin: 0;
				padding: 1rem;
			}
		}

		&__label,
		&__close {
			@apply flex bg-gray-200 text-gray-800 cursor-pointer;
		}

		&__label {
			@apply mb-0 p-4 justify-start;
			&::before {
				content: "\276F";
				width: 1em;
				height: 1em;
				text-align: center;
				transform: rotate(90deg);
				transition: all 0.35s;
			}
		}
	}

	/* Visual styles */
	.accordion {
		color: var(--theme);
		border: 2px solid;
		border-radius: 0.5rem;
		overflow: hidden;
	}
}

@keyframes bounce {
	25% {
		transform: rotate(90deg) translate(0.25rem);
	}
	75% {
		transform: rotate(90deg) translate(-0.25rem);
	}
}
