<?xml version="1.0"?>
<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
>
    <testsuites>
        <testsuite name="integration">
            <directory suffix="Test.php">./tests/Integration/</directory>
        </testsuite>
    </testsuites>

    <groups>
        <include>
            <group>smoke</group>
            <group>happy</group>
            <group>error</group>
            <group>edge</group>
            <group>security</group>
            <group>access_denied</group>
            <group>hierarchy</group>
            <group>sequential_off</group>
            <group>redirect</group>
            <group>access_permission</group>
        </include>
    </groups>

    <php>
        <env name="WP_PHPUNIT__TESTS_CONFIG" value="tests/wp-tests-config.php"/>
    </php>
</phpunit>
