.pc-media-library {
	&__tabs {
		.ant-tabs-nav {
			z-index: 60;
		}

		&__filter {
			margin-top: -2rem;
			padding-top: 2rem;
		}
	}
}

.ant-modal {
	.pc-media-library {
		&__tabs {
			&__filter {
				margin-top: -1rem;
				padding-top: 1rem;
			}
		}
	}
}
.ant-editor-sortable-tree-node
	.ant-editor-icon:not([aria-roledescription="sortable"]) {
	min-width: 28px;
}

.sticky-card-actions {
	.ant-card {
		ul.ant-card-actions {
			position: sticky;
			bottom: 0;
			z-index: 10;
		}
		.ant-card {
			ul.ant-card-actions {
				bottom: 3.5rem;
				z-index: 11;
			}
		}
	}
}

.sticky-tabs-nav {
	.ant-tabs-nav {
		position: sticky;
		top: 0px;
		z-index: 10;
		background: #fff;
	}
}
